*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Space Mono", sans-serif;
    font-weight: 500;
    color: #ececec;
    line-height: 1.2em;
}

h1{
    font-size: 105px;
}

h2{
    font-size: 65px;
}

h3{
    font-size: 55px;
}

h4{
    font-size: 45px;
}

h5{
    font-size: 35px;
}

h6{
    font-size: 18px;
    border: 2px solid #00FF85 ;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding: 8px;
}

p{
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #e4e4e4;
}

span{
  font-family: "Quicksand", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    color: #e4e4e4;
}

a{
    font-family: "Space Grotesk", sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1.2px;
    transition: all 0.3s ease-in-out;
    display: inline-block;

    
}

a:hover{
  color: #00FF85;
  transform: skewX(-10deg);
}


body{
    background-color:#580bcd;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*scrollbar*/


::selection{
	background-color:#00FF85 !important;
  color:#4a1894!important;
}
::-webkit-scrollbar {
  width: 6px;
  
}
::-webkit-scrollbar-track {
  background: #4a1894; 
}
::-webkit-scrollbar-thumb {
  background:#00FF85;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: white; 
}

/*cursore*/

@media only screen and (min-width: 1024px) {
	
	.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #00FF85;
	mix-blend-mode: difference;
  pointer-events: none;
  z-index: 10000000!important;
}

}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 1px solid white;
    position: fixed;
    top: 0;
    backdrop-filter: blur(8px);
    z-index: 9999999999;
    transition: transform 0.3s ease;
    margin-bottom: -100px;
}

.logo{
    width: 50px;
}

.contenitore-menu nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.contenitore-menu nav ul li{
    list-style: none;
}

.hero{
    background-image: url(img-hero.webp);
    filter: grayscale(100%);
    position: relative;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.overlay-hero {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,rgb(1, 1, 1, 1) 0%, rgb(1, 1, 1, 0.8) 60%, rgba(1, 1, 1, 0.4) 100%);
  z-index: 2;
}

.hero-content{
    text-align: center;
    z-index: 3;
}

.split{
    overflow: hidden;
    opacity: 0;
    
}

.split chars{
  transform: translateY(100);
    filter: blur(10px);
}

.about{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: start;
    z-index: 2;
    transition: none;
    height: 100vh;

}

.about-content, .about-content-realizzazione, .about-content-assistenza, .about-content-marketing{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    gap: 20px;
    border-radius: 20px;
    padding: 40px;
    transform: scale(0.6);
    transform-origin: center center;
}

.aboutMobile{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: none;

}

.about-contentMobile, .about-content-realizzazioneMobile, .about-content-assistenzaMobile, .about-content-marketingMobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
    transform: scale(0.8);
    transform-origin: center center;
    will-change: transform;
}

.progettazioneImgMobile {
    width: 95%;
    background-image: url(ascolto.webp);
    background-position: left;
    background-size: cover;
    height: 50vh;
   mask-size: contain;
mask-position: center;
mask-repeat: no-repeat;
mask-image: url(logo-webmaster.svg);
-webkit-mask-image: url(logo-webmaster.svg);
-webkit-mask-size: contain;
-webkit-mask-position: center;
-webkit-mask-repeat: no-repeat;
z-index: 1;
}

.realizzazioneImgMobile{
    width: 95%;
    background-image: url(design.webp);
    background-position: center;
    background-size: cover;
    mask-size: contain;
mask-position: center;
    height: 50vh;
    -webkit-mask-image: url(logo-webmaster.svg);
  mask-image: url(logo-webmaster.svg);
  mask-repeat: no-repeat;
  transform: scaleX(-1);
}

.assistenzaImgMobile {
    width: 95%;
    background-image: url(marketing.webp);
    background-position: center;
    background-size: cover;
    height: 50vh;
    -webkit-mask-image: url(logo-webmaster.svg);
  mask-image: url(logo-webmaster.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
mask-position: center;
}

.marketingImgMobile {
    width: 95%;
    background-image: url(copyseo.webp);
    background-position: center;
    background-size: cover;
    height: 50vh;
    -webkit-mask-image: url(logo-webmaster.svg);
  mask-image: url(logo-webmaster.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
mask-position: center;
  transform: scaleX(-1);
}

.h3-split-aboutMobile span{
    color: #111;
    background-color: #00FF85;
    padding: 4px;
    border-radius: 8px;
    font-family: "Space Mono", sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.horizontal-wrapperMobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 0px;
}

.panelMoblie {
  flex: 0 0 100%;
  width: 100vw;
  gap: 20px;
}

.progettazioneImg {
    width: 50%;
    background-image: url(ascolto.webp);
    background-position: left;
    background-size: cover;
    height: 100vh;
   mask-size: contain;
mask-position: center;
mask-repeat: no-repeat;
mask-image: url(logo-webmaster.svg);
-webkit-mask-image: url(logo-webmaster.svg);
-webkit-mask-size: contain;
-webkit-mask-position: center;
-webkit-mask-repeat: no-repeat;
z-index: 1;
}

.realizzazioneImg{
    width: 50%;
    background-image: url(design.webp);
    background-position: center;
    background-size: cover;
    mask-size: contain;
mask-position: center;
    height: 100vh;
    -webkit-mask-image: url(logo-webmaster.svg);
  mask-image: url(logo-webmaster.svg);
  mask-repeat: no-repeat;
  transform: scaleX(-1);
}

.assistenzaImg {
    width: 50%;
    background-image: url(marketing.webp);
    background-position: center;
    background-size: cover;
    height: 100vh;
    -webkit-mask-image: url(logo-webmaster.svg);
  mask-image: url(logo-webmaster.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
mask-position: center;
}

.marketingImg {
    width: 50%;
    background-image: url(copyseo.webp);
    background-position: center;
    background-size: cover;
    height: 100vh;
    -webkit-mask-image: url(logo-webmaster.svg);
  mask-image: url(logo-webmaster.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
mask-position: center;
  transform: scaleX(-1);
}

.h3-split-about span{
    color: #111;
    background-color: #00FF85;
    padding: 4px;
    border-radius: 8px;
    font-family: "Space Mono", sans-serif;
    font-weight: 500;
    font-size: 55px;
}

.horizontal-wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.panel {
  flex: 0 0 100%;
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 60px;
  gap: 20px;
}

.webDesign li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

}

.webDesign{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 120px 40px;
    gap: 160px;
}

.ascolto{
    width: 95%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width:50%;
    padding: 20px;
}

.ascoltoContent{
    display: flex;
    align-self: flex-end;
    width: 50%;
    padding-top: 20px;
}

.design{
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    position: relative;
}

.designCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width:50%;
    padding: 20px;
}

.designContent{
    display: flex;
    align-self: flex-end;
    width: 50%;
    padding-top: 20px;
}

.marketing{
    width: 95%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
}

.marketingCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width:50%;
    padding: 20px;
}

.marketingContent{
    display: flex;
    align-self: flex-end;
    width: 50%;
    padding-top: 20px;
}

.swiper {
      width: 80%;
      height: 600px;
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
      font-size: 22px;
      font-weight: bold;
      color: #fff;
    }

    .swiper-slide:nth-child(1n) {
      background-color: rgb(206, 17, 17);
    }

    .swiper-slide:nth-child(2n) {
      background-color: rgb(0, 140, 255);
    }

    .swiper-slide:nth-child(3n) {
      background-color: rgb(10, 184, 111);
    }

    .swiper-slide:nth-child(4n) {
      background-color: rgb(211, 122, 7);
    }

    .swiper-slide:nth-child(5n) {
      background-color: rgb(118, 163, 12);
    }

    .swiper-slide:nth-child(6n) {
      background-color: rgb(180, 10, 47);
    }

    .swiper-slide:nth-child(7n) {
      background-color: rgb(35, 99, 19);
    }

    .swiper-slide:nth-child(8n) {
      background-color: rgb(0, 68, 255);
    }

    .swiper-slide:nth-child(9n) {
      background-color: rgb(218, 12, 218);
    }

    .swiper-slide:nth-child(10n) {
      background-color: rgb(54, 94, 77);
    }


    .overlayProcess, .overlayProcess2, .overlayProcess3{
        background-color: #00FF85;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        will-change: clip-path;
        z-index: 9;
        border-radius: 80px;
        overflow: hidden;
    }
     .overlayProcessBlack, .overlayProcessBlack2, .overlayProcessBlack3{
        background-color: #4a1894;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        will-change: clip-path;
        z-index: 8;
        border-radius: 80px;
        overflow: hidden;
    }

    .titleOverlay, .titleOverlay2, .titleOverlay3{
        background-color: #580bcd;
        position: absolute;
        top: 10%;
        left: 5%;
        will-change: clip-path;
        color: #00FF85;
        padding: 20px;
        border-radius: 20px;
    }

    .boxRilievo {
  box-shadow:
    inset 6px 6px 10px rgba(20, 0, 60, 0.8),
  inset -6px -6px 10px rgba(120, 80, 255, 0.3);
    padding: 40px;
    border-radius: 80px;
}

.sitiRealizzati{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 40px;
  gap: 120px;
}

.clippy-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 95%;
  border-radius: 0px 0px 80px 80px;
}


.sitiContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
}

.sitiTesto, .sitiImmagine{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.clippy-container:hover .cursor-img{
  opacity: 1;
}

.cursor-img{
  width: 100%;
  height: auto;
  display: block;
  will-change: transform;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.btn{
  background-color: #00FF85;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px 40px;

}

.btn:hover{
  border-radius: 40px 10px 40px 10px;
}

.btn span{
  color: #111;
  font-family: "Space Mono", sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  
}

.btn:hover span{
  transform: skewX(-10deg);
}
    
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
}

#about{
  width: 100%;
  padding: 200px 40px;
  display: flex;
  justify-content: center;
  
}

.aboutMe{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 80px;
  width: 95%;
}

.formazione, .competenze{
  width: 50%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.formazione img{
  width: 85%;
  margin-top: 40px;
  border-radius: 40px;
}


li{
  list-style: none;
}

.skill{
  margin-top: 40px;
}

.skill-top{
  display:flex;
  justify-content:space-between;
  font-size:12px;
}

.skill-bar{
  width:100%;
  height:8px;
  background:#1a1a1a;
  border-radius:20px;
}

.skill-fill{
  height:100%;
  width:100%;
  transform: scaleX(0);
  transform-origin: left;
  background: #00FF85;
  border-radius:20px;
  box-shadow:
    0 0 10px #00FF85,
    0 0 10px #00FF85;
}

.titoliStudio{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 1025px) {
  
  h1{
    font-size: 75px;
  }
  h3{
    font-size: 35px;
  }

  h5{
    font-size: 30px;
  }

  h6{
    letter-spacing: 0.4px;
    font-size: 16px;
  }

  span{
    font-size: 16px;
  }

  .h3-split-about span {
    font-size: 35px;
  }

  p{
    font-size: 18px;
  }

  #servizi{
    display: none;
  }

  .panel{
    padding: 20px;
  }

  .about-content, .about-content-realizzazione, .about-content-assistenza, .about-content-marketing{
    padding: 20px;
  }

  .portfolio{
    padding: 60px 20px;
  }

  .ascolto, .design, .marketing, .aboutMe, .sitiContent{
    flex-direction: column;
    width: 100%;
  }

  .card, .ascoltoContent, .designContent, .designCard, .marketingCard, .marketingContent, .formazione, .competenze, .sitiTesto, .sitiImmagine{
    width: 100%;
  }

  #about{
    padding: 60px 40px;
  }

  .sitiRealizzati{
    padding: 60px 40px;
  }

  .cursor-img{
    opacity: 1;
  }
}

@media screen and (max-width: 769px){

  h1{
    font-size: 35px;
  }

  h3{
    font-size: 22px;
  }

  header{
    justify-content: center;
  }

  .contenitore-menu{
    display: none;
  }

  .hero{
    min-height: 70vh;
  }

   .panel{
    padding: 40px 20px;
    flex-direction: column;
   }

   .about-content, .about-content-realizzazione, .about-content-assistenza, .about-content-marketing{
    width: 100%;
  }

  .realizzazioneImg, .assistenzaImg, .progettazioneImg, .marketingImg{
    width: 100%;
  }

  .titleOverlay, .titleOverlay2, .titleOverlay3 {
    margin-right: 5%;
}

.card{
  padding: 40px 20px;
}
  .boxRilievo {
    padding: 20px 10px;
}

.formazione img{
  width: 100%;
}

.webDesign {
    display: none;
}

.swiper{
  height: 300px!important;
}

.sitiContent{
  padding: 20px 0px;
}

.sitiRealizzati{
  padding: 40px 20px;
  gap: 40px;
}

footer{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


}

@media screen and (min-width: 1025px) {

  #serviziMobile{
    display: none;
  }
  
}